body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    position: relative; /* Ensure the body has relative positioning for the pseudo-element */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background: url('IMG_5487.jpeg') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Ensure it is behind the content */
    background-position: right; /* Position image on the right side */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}

.header p {
    font-size: 14px;
    color: lightgray;
    margin-top: -10px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Adds a slight white background to the form container for readability */
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: gray;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input::placeholder {
    color: gray;
}

/* Date input styling for text fields */
.form-group input[type="text"].date-input::placeholder {
    color: gray;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
}





